


/********************

    BASE COLORS

********************/

$black: #111111;
$white: #F0F0F0;
$grey: #34495e;

$dark-brown: #281916;
$full-pink: #E86786;
$faded-pink: #F4A1B5;
$salmon-pink: #FFD2CB;
$mint-green: #96B5AD;
$light-blue: #4B6381;

$link-color: #3b55c2;
$nav-top-color: #d3d3c2;